<!DOCTYPE html>

<html>

    <head>
        <title>notes app</title>
    </head>

    <body>
        
        <p>please register yourself to login Or if you are already registered please login </p>
        <a href="/login/"><button>login</button></a>
<br/>
        <h3>Register</h3>
<br/>
        <form action="/index/" method="post"> {% csrf_token %}
    <table>
        {% for field in form %}
        <tr>
        <td>{{ field.label_tag }}</td>
        <td>{{ field }}</td>
        </tr>
        {% endfor %}
    </table>
<br/>
         
        <input type="submit" value="Register" />

        </form> <br/>
         
        
    </body>

</html>
