<!DOCTYPE html>

<html>

    <head>
        <title>notes app</title>
    </head>

    <body>
        
        <br/>
        
        <h2>Profile</h2>

        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}.  ({{ user.id }}) Thanks for logging in.</p>
        {% else %}

        {% endif %}

        <table>
          <td>{{ n.title }}</td>
          <td><a href="/logout/"><button>logout</button></a></td>
          <td><a href="/create/"><button>add a note</button></a></td>
          <td><a href="/all_notes/"><button>view all notes</button></a></td>
          
        </table>
        
    </body>

</html>
